.programacaocientifica {
    min-width: 65vw;
    min-height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .programas-container {
        width: 100%;
        min-height: 55vh;

        .programa {
            width: 100%;
            min-height: 20vh;
            border-radius: 35px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;

            color: white;
            font-family: "Poppins";
            font-weight: bold;

            margin-bottom: 2%;

            &--extra-content {
                width: 100%;
                min-height: 20vh;
                display: flex;
                justify-content: space-around;
                padding: 3% 0 3% 0;
                background: rgba(255, 255, 255, 0.192);

                &--image {
                    min-width: 15vw;
                    min-height: 30vh;
                    max-height: 40vh;
                    margin: 0 0 0 0;

                    background: rgba(255, 255, 255, 0.212);
                    border-radius: 35px;
                    font-size: 25px;
                }

                p {
                    min-width: 9vw;
                    max-width: 42vw;
                    text-align: left;
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }

            &--main-content {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1% 0 1% 0;
                

                .hora {
                    min-height: 1vh;
                    min-width: 1vw;
                    background: rgba(255, 255, 255, 0.315);
                    padding: 2.5% 6% 2.5% 6%;
                    border-radius: 35px;
                    font-size: 25px;
                }

                .evento-info {
                    min-height: 1vh;
                    max-width: 20vw;
                    min-width: 55%;

                    p {
                        font-size: 25px;
                        padding: 0 !important;
                        margin: 0 !important;
                    }

                    span {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;

                        color: #CACACA;
                    }
                }

                .button {
                    min-height: 6vh;
                    min-width: 2.7vw;
                    background: rgba(255, 255, 255, 0.212);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

