.whiteBtn {
    position: relative;
    min-width: 15vw;
    max-width: 15vw;
    min-height: 1vh;

    background: #FFFFFF;
    border-radius: 50px;


    /* PROGRAMAÇÃO COMPLETA */

    min-width: 15vw;
    min-height: 6vh;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;

    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}