.gradient-background-wrapper {
    min-height: 1vw;
    position: relative;
    display: flex;
    align-items: center;
    margin: 5%;

    h1, h2, h3, div {
        z-index: 2 !important;
        color: white;
        position: relative;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

}