.title {
    min-width: 20vw;
    min-height: 10vh;
    position: relative;
    color: rgba(255, 255, 255, 0.623);
    display: flex;
    justify-content: center;

    span {
        position: absolute;
        bottom: 10%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        width: 95%;
    }
}