@import url('https://fonts.googleapis.com/css?family=Poppins');
  




::placeholder {
    color: rgba(0, 0, 0, 0.445) !important;
    font-family: "Poppins";
}

.opaque {
    background: linear-gradient(253.09deg, rgba(217, 217, 217, 0.25) -7.53%, rgba(217, 217, 217, 0) 97.04%);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(172, 172, 172, 0.253);
    border-radius: 33px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: left;

    span {
        width: 50%;
    }
}

.center {
    align-items: center !important;
}

.left {
    align-items: flex-start !important;
}

.right {
    align-items: flex-end !important;
}

* {
    box-sizing: border-box;

    &:not(.gradient-background):not(.blur) {
        z-index: 2 !important;
    }
}

body {
    margin: 0;
    background: green;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        overflow: hidden;
        width: 75vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;



    }
}